[Desktop Entry]
Type=Application
Version=1.0
# Do not translate the word "GECOS v3".  It is used as a marker by casper.
Name=Install GECOS v3
Name[am]=የተለቀቀውን መግጠሚያ
Name[ar]=ثبّت GECOS v3
Name[ast]=Instalar GECOS v3
Name[be]=Усталяваць GECOS v3
Name[bg]=Инсталирай GECOS v3
Name[bn]=GECOS v3 ইনস্টল করুন
Name[bs]=Instaliraj izdanje
Name[ca]=Instal·la la versió GECOS v3
Name[cs]=Nainstalovat GECOS v3
Name[da]=Installér GECOS v3
Name[de]=GECOS v3 installieren
Name[el]=Εγκατάσταση GECOS v3
Name[eo]=Instali GECOS v3
Name[es]=Instalar GECOS v3
Name[et]=Paigalda GECOS v3
Name[eu]=Instalatu GECOS v3
Name[fi]=Asenna GECOS v3
Name[fr]=Installer GECOS v3
Name[ga]=Suiteáil GECOS v3
Name[gl]=Instalar GECOS v3
Name[gu]=રિલીઝ નું સ્થાપન કરો.
Name[he]=התקנת GECOS v3
Name[hi]=GECOS v3 को संस्थापित करें।
Name[hr]=Instaliraj GECOS v3
Name[hu]=GECOS v3 telepítése
Name[id]=Pasang GECOS v3
Name[it]=Installa GECOS v3
Name[ja]=GECOS v3 のインストール
Name[ka]=GECOS v3-ის დაყენება
Name[kk]=GECOS v3 орнату
Name[km]=ដំឡើង​ឯកសារ​ចេញ​ផ្សាយ
Name[ko]=GECOS v3 설치
Name[ku]=GECOS v3 saz bike
Name[lt]=Įdiegti GECOS v3 į kompiuterį
Name[lv]=Instalēt GECOS v3
Name[mk]=Инсталирај GECOS v3
Name[ml]=GECOS v3 സജ്ജമാക്കുക
Name[mr]=स्थापित GECOS v3
Name[ne]=GECOS v3 लाई स्थापन गर्नुहोस्
Name[nl]=GECOS v3 installeren
Name[pa]=GECOS v3 ਇੰਸਟਾਲ ਕਰੋ
Name[pl]=Zainstaluj GECOS v3
Name[pt]=Instalar GECOS v3
Name[pt_BR]=Instalar o GECOS v3
Name[ro]=Instalare GECOS v3
Name[ru]=Установить GECOS v3
Name[sk]=Inštalovať GECOS v3
Name[sl]=Namesti GECOS v3
Name[sq]=Instalo GECOS v3
Name[sr]=Инсталирајте GECOS v3
Name[sv]=Installera GECOS v3
Name[ta]=GECOS v3 ஐ நிறுவு
Name[th]=ติดตั้ง GECOS v3
Name[tl]=Iluklok ang GECOS v3
Name[tr]=GECOS v3 Kurulumu
Name[uk]=Встановити GECOS v3
Name[vi]=Cài đặt GECOS v3
Name[zh_CN]=安装 GECOS v3
Name[zh_TW]=安裝 GECOS v3
Comment=Install this system permanently to your hard disk
Comment[am]=ይኼን ሲስተም ሀርድ ዲስክዎ ላይ በቋሚነት ይጫኑት
Comment[ar]=ثبّت هذا النظام على القرص الصلب
Comment[ast]=Instalar permanentemente esti sistema nel to discu duru
Comment[be]=Усталяваць гэтую сыстэму на ваш жорсткі дыск
Comment[bg]=Инсталирай тази система за постоянно на твърдия диск
Comment[bn]=এই সিস্টেমটি আপনার হার্ডডিস্কে স্থায়ীভাবে ইনস্টল করুন।
Comment[bs]=Instaliraj ovaj sistem trajno na hard disk
Comment[ca]=Instal·la aquest sistema permanentment al disc dur
Comment[cs]=Nainstalovat tento systém natrvalo na váš disk
Comment[da]=Installér dette system permanent på din harddisk
Comment[de]=Dieses System dauerhaft auf der Festplatte installieren
Comment[el]=Εγκαταστήστε μόνιμα αυτό το σύστημα στο σκληρό σας δίσκο
Comment[eo]=Instali ĉi tiun sistemon daŭre en via disko
Comment[es]=Instalar permanentemente este sistema en su disco duro
Comment[et]=Paigalda see süsteem jäädavalt oma kõvakettale
Comment[eu]=Sistema hau betiko instalatu disko gogorrean
Comment[fi]=Asenna tämä järjestelmä pysyvästi kiintolevyllesi
Comment[fr]=Installer ce système de façon permanente sur votre disque dur
Comment[ga]=Suiteáil an córas seo go buan ar do chruadhiosca
Comment[gl]=Instalar o sistema de xeito permanente no disco ríxido
Comment[gu]=આ સિસ્ટમ તમારી હાર્ડ ડિસ્ક પર હંમેશ માટે સ્થાપિત કરો
Comment[he]=התקנת המערכת באופן קבוע על הכונן הקשיח
Comment[hi]=इस तंत्र को आपके हार्ड डिस्क में स्थायी रूप से संस्थापित करें
Comment[hr]=Trajno instaliraj sustav na čvrsti disk
Comment[hu]=A rendszer telepítése merevlemezre
Comment[id]=Memasang sistem ini secara permanen pada diska Anda
Comment[it]=Installa questo sistema in modo permanente sul disco rigido
Comment[ja]=このシステムをハードディスクにインストールします
Comment[ka]=მოცემული სისტემის მყარ დისკზე ჩაყენება
Comment[kk]=Осы жүйені қатқыл дискіңізге тұрақты орнату
Comment[km]=ដំឡើង​ប្រព័ន្ធ​នេះ​ជា​អចិន្ត្រៃយ៍​ទៅ​កាន់​ថាស​រឹង​របស់​អ្នក
Comment[ko]=이 시스템을 하드 디스크에 설치합니다.
Comment[ku]=Sîstemê di hard dîskê xwe de saz bike
Comment[lt]=Įdiegti Linux operacinę sistemą į kompiuterio (standųjį) diską
Comment[lv]=Instalēt šo sistēmu cietajā diskā
Comment[mk]=Инсталирајте го системот трајно на Вашиот тврд диск
Comment[ml]=സ്ഥിരമായി ഹാര്‍ഡ് ഡിസ്കിലേക്ക് ഇന്‍സ്റ്റാള്‍ ചെയ്യുക
Comment[mr]=ही प्रणाली कायमची तुमच्या हार्ड डिस्कवर स्थापित करा
Comment[ne]=यो प्रणाली तपाईको हार्ड डिस्कमा स्थाई रुपमा प्रतिस्थापन गर्नुहोस्
Comment[nl]=Dit systeem definitief op uw harde schijf installeren
Comment[pa]=ਇਹ ਸਿਸਟਮ ਪੱਕੇ ਤੌਰ ਉੱਤੇ ਆਪਣੀ ਹਾਰਡ ਡਿਸਕ ਉੱਤੇ ਇੰਸਟਾਲ
Comment[pl]=Instaluje system na dysku twardym
Comment[pt]=Instalar este sistema permanentemente no seu disco rígido
Comment[pt_BR]=Instalar este sistema de maneira permanente no seu disco rígido
Comment[ro]=Instalați permanent acest sistem pe discul calculatorului
Comment[ru]=Установить эту систему на жёсткий диск
Comment[sk]=Nainštalovať systém natrvalo na pevný disk
Comment[sl]=Trajno namesti sistem na trdi disk
Comment[sq]=Instalo këtë sistem përgjithmonë në Hard Disk
Comment[sr]=Инсталирајте овај систем трајно на ваш хард диск
Comment[sv]=Installera detta system permanent på din hårddisk
Comment[ta]=இந்த கணினியை நிறந்திரமாக தங்களுடைய கணினியில் நிறுவுக
Comment[th]=ติดตั้งระบบนี้อย่างถาวรลงบนฮาร์ดดิสก์ของคุณ
Comment[tl]=Iluklok ng permanente ang systema sa iyong hard disk
Comment[tr]=Bu sistemi sabit diskinize kalıcı olarak kurun
Comment[uk]=Встановити цю систему на жорсткий диск
Comment[vi]=Cài hệ thống vào đĩa cứng
Comment[zh_CN]=将这个系统永久安装在您的硬盘上
Comment[zh_TW]=將此系統安裝到您的硬碟中
Keywords=ubiquity;
#use sh because pkexec is broken under xfce/lxce http://pad.lv/1193526
Exec=sh -c 'sudo ubiquity gtk_ui'
Icon=/usr/share/pixmaps/ubiquity.png
Terminal=false
Categories=GTK;System;Settings;
NotShowIn=KDE;
#X-Ubuntu-Gettext-Domain=ubiquity-desktop
X-Ayatana-Appmenu-Show-Stubs=False
